#footer {
    background-color: #0a1722;
    /* padding:8px; */
    color: white;
    display: grid;
    height: 64px;
    grid-template-columns: auto;
    justify-items: center;
    /* display: flex;
    justify-content: center; */

    padding: 10px;
    line-height: 0;
}

p {
    font-size: 10px;
}

@media screen and (max-width:768px) {
    #footer {
        padding: 20px;
    }

}