.nav {
    background-color: #0a1722;
    /* padding:8px; */
    color: white;
    display: grid;
    height: 64px;
    grid-template-columns: auto;
    justify-items: center;
    /* display: flex;
    justify-content: center; */

    padding: 10px;
    line-height: 0;

}

h1 {
    font-family: 'Harry P';
    font-size: 45px;
    display: inline-grid;
    padding: 0;
    text-align: center;
}