

#home{
background-image: url('../../assets/images/hogwartz-dark.jpg');
min-height: 80vh;
background-size: cover;
background-position: center;
/* display: flex;
justify-content: center;
flex-wrap: wrap;
align-items: flex-start; */
/* background-attachment: fixed; */
background-position: 20%;
background-repeat: no-repeat;
display:grid;

justify-content: center;
align-content: center;

display: grid;
  justify-content: center;
  align-content: center;

}

#enter{
    background-color: #0a1722 !important;
    padding:14px;
    color:white;
    border-radius: 10px;
    border: none;
    /* height: fit-content; */
    width: 200px;
    cursor: pointer;
}
