nav {
    background-color: #0a1722;
    /* padding:8px; */
    color: white;
    display: flex;
    height: fit-content;
    justify-content: center;
    padding: 10px;
    line-height: 0;
    width: 100%;
    top:0;

    display:flex;
    justify-content: center;

    position: -webkit-sticky;
    position: sticky;
    z-index: 9999;
    overflow: hidden
    

}

h1 {
    font-family: 'Harry P';
    font-size: 45px;
    display: inline-grid;
    padding: 0;
    text-align: center;
}



/* @media screen and (max-width:768px) {
    .nav{
        background-color: hotpink;
    }
} */